[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
fastapi = "*"
python-dotenv = "*"
pydantic = "*"
uvicorn = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
uuid = "*"
bcrypt = "*"
typing = "*"
python-jose = "*"
pybase64 = "*"

[dev-packages]

[requires]
python_version = "3.12"
