.base-btn {
    background-color: var(--button-background-color);
    color: var(--white-color);
    min-width: var(--button-width);
    height: var(--button-height);
    border-radius: var(--border-radius);
    border: none;
    transition: all 0.2s;
    font-size: 20px;
    padding-left:10px;
    padding-right:10px;
}
.base-btn.outline {
    background-color: var(--white-color);
    color: var(--button-background-color);
}

.base-btn.inactive {
    background-color: transparent !important;
    color: #202020;
}
.base-btn.inactive:hover {
    background-color: rgb(var(--white-rgb))
}

.base-btn.outline:hover{
    color: rgb(var(--white-rgb))
}

.base-btn:hover {
    background-color: var(--button-background-color-hover);
    cursor: pointer;
    transition: all 0.2s;
}
.base-btn.disabled {
    background-color: var(--button-background-color-hover);
    color: var(--gray-color);
    cursor:not-allowed;
}
.green-button:active{
    background-color: var(--button-background-color-focus);
    color:white
}