:root {
    --white-rgb: 255, 255, 255;
    --main-color-rgb: 29, 170, 57;
    --background-color-rbg: 255,255,255;
    --gray-rgb: 200, 200, 200;
    --light-gray-rgb: 244, 247, 247;

    --white-color: rgb(var(--white-rgb));
    --background-color:rgb(var(--background-color-rbg));
    --button-background-color:rgb(var(--main-color-rgb));
    --button-background-color-hover:rgba(var(--main-color-rgb), 0.6);
    --button-background-color-focus:rgba(var(--main-color-rgb), 0.9);
    --gray-color:rgb(var(--gray-rgb));
    --light-gray-color:rgb(var(--light-gray-rgb));
}