.auth-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    width: 100%;
}
.form-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
}
.field {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    width: 100%;
}

.form-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.form-bottom-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-bottom .base-btn {
    width: 100%;
    max-width: 468px;
}

.filter-container {
    display: flex;
    margin-top: 32px;
}
.filters {
    display: flex;
    flex-direction: column;
    width: 320px;
}
.filters-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.filter-title {
    font-weight: 800;
    font-size: 16px;
}
.filter-content {
    display: flex;
    flex-direction: column;
}
.filter-content .line {
    margin-top: 24px;
    width: 100%;
}
.filter-item {
    margin-bottom: 24px;
}

.filter-item input.field-input {
    width: calc(100% - 34px);
}

.filter-item .field-title {
    margin-bottom: 16px;
    font-weight: 800;
}

.filter-right {
    border: 1px solid var(--main-color);
    padding: 8px 16px;
    border-radius: 8px;
}

.filter-right:hover {
    cursor: pointer;
    background-color: rgba(var(--main-color-rgb), 0.2);
}