.table-base-container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding: 16px;
}

.table-base-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
  }
  
  .table-base-row {
    display: flex;
    flex-wrap: nowrap; 
    gap: 10px;
    padding: 8px 0;
    min-width: fit-content; 

    border-radius: 8px;
  }

  .table-base-row.even {
    background-color: #F4F7F7 ;
  }


  .table-base-row:not(.table-base-header):hover {
    background-color: var(--table-header-bg-color);
    cursor: pointer;
  }
  
  .table-cell {
    flex: 1 0 150px;
    word-break: break-word;
    padding: 8px;
  }
  
  .table-base-header{
    font-weight: bold;
    background-color: var(--table-header-bg-color);
    border-radius: 8px;
  }
  